*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/********** Base styles **********/
h1{
	padding: 5%;
	text-align: center;
}
section {
		position: relative;
		margin: 30px;
		border: 1px solid black;
		padding: 15px;
		background-color: #ecc19c;
	}
h2{
	position: absolute;
	top:0;
	right:0;
	width: 100px;
	text-align: center;
	padding: 2px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	}
p{
	text-align: justify;
	padding-top: 25px;
	}
	
	
.bg1{
	background-color: #e75874;
	}
	
	
.bg2{
	background-color: #ff6e40;
	}
.bg3{
	background-color: #ffc13b;
	}



@media(min-width: 992px){
	.largedevice{
			float: left;
			width: 33.33%;
		}
	}
@media(min-width:768px) and (max-width: 991px){
	.tablet{
		float: left;
		width:50%;
		}
	.tablet2{
		float: left;
		width: 100%;
		}
}
